<div class="container">
  <h1>Hello {{ Globals.currentUserUsername}}</h1>

  <h2>Friends</h2>
  <ul *ngFor="let item of friends">
    <li>{{ item.username }}</li>
  </ul>


  <h2>Want to add someone?</h2>

  <div class="d-flex justify-content-between border-bottom py-2" *ngFor="let item of profiles">
    <p class="mb-3"><span class="fw-bold">{{item.username}}</span></p>
    <div class="">
    <a href="#">see profile</a>
    <a href="" class="btn btn-primary me-2">Send request</a>
    </div>
  </div>


</div>
